#Rewrite rules
RewriteEngine on
RewriteBase /Public
RewriteRule ^admin/([0-9a-zA-Z\_\-\/]*)$ index.php?end=admin&page=$1 [L]
RewriteRule ^([0-9a-zA-Z\_\-\/]*)$ index.php?end=front&page=$1 [L]
RewriteRule ^css/(.*)$ app/css/$1 [L]
RewriteRule ^js/(.*)$	app/js/$1 [L]
RewriteRule ^admin/css/(.*)$ admin/css/$1 [L]
RewriteRule ^admin/js/(.*)$	admin/js/$1 [L]
#Compression Deflate