/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#calendrier #btn_show_filtre{display:none;}
		#calendrier #btn_show_admin{display:none;}
		#calendrier .jour {width: 65px;}
		#calendrier #content .jour {height: 65px;}
		#calendrier #content .picto {left: 31px; top: 56px;}
		#calendrier #content .bck-jour {height: 40px; left: 15px; top: 10px; width: 40px;}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#calendrier #btn_show_filtre{display:block;}
		#calendrier #btn_show_admin{display:block;}
		#filtre_content{display: none; width: 100px;}
		#admin_content{display: none;}
		#navigation{margin-bottom: 0px;}
		#calendrier #content .jour {font-size: 19px;}
		#admin_content {width: 100%;}
		#admin_content div {float:left; margin-right: 30px;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#calendrier .jour {width: 60px;}
		#calendrier #content .jour {height: 60px;}
		#calendrier #content .picto {left: 27px; top: 46px;}
		#calendrier #content .bck-jour {height: 30px; left: 15px; top: 13px; width: 30px;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#calendrier .jour {width: 42px;}
		#calendrier #content .jour {height: 42px; line-height: 29px;}
		#calendrier #content .picto {left: 18px; top: 30px;}
		#calendrier #content .bck-jour {height: 27px; left: 8px; top: 1px; width: 27px;}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/